<div class="main-container">
  <div class="form-container">
    <h1 class="text-center">Contact us</h1>
    <h5 class="text-center">
      If you need further information feel free to contact us
    </h5>
    <form [formGroup]="input" (ngSubmit)="onSubmit()">
      <label for="fName" class="form-label"><h2>First Name</h2></label>
      <input
        id="fName"
        type="text"
        formControlName="fName"
        placeholder="John..."
        class="form-control"
      />
      <br />

      <label for="lName" class="form-label"><h2>Last Name</h2></label>
      <input
        type="text"
        formControlName="lName"
        id="lName"
        placeholder="Doe..."
        class="form-control"
      />
      <br />

      <label for="eMail" class="form-label"><h2>E-Mail</h2></label>
      <input
        type="email"
        formControlName="eMail"
        id="email"
        placeholder="user123.user@email.com"
        class="form-control"
      />
      <br />

      <label for="description" class="form-label"><h2>Description</h2></label>
      <input
        type="text"
        formControlName="description"
        id="description"
        placeholder="What is the reason you contact us..."
        class="form-control"
      />
      <br />

      <label for="subject" class="form-label"><h2>Subject</h2></label>
      <input
        type="text"
        formControlName="subject"
        id="subject"
        placeholder="topic of your concern..."
        class="form-control"
      />
      <br />

      <div class="d-flex justify-content-center mt-3">
        <input type="submit" value="Submit" />
        <input class="ms-3" type="button" value="Reset" (click)="resetForm()" />
      </div>
    </form>
  </div>
</div>
