<div class="headBg"></div>
<div class="container">
  <div class="heading">
    <h1>Luxury Cars</h1>
    <h3>your future Car awaits!</h3>
  </div>
  <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 mt-5">
    @for (val of cars; track val){

    <div class="imgBox mb-3 mt-3">
      <div>
        <p class="imgTxt">
          <strong>{{ val.brand }}</strong> - {{ val.model }}
        </p>
        <img class="imgCar" src="{{ val.img }}" alt="not found" />
        <div
          [style.background-color]="val.price > 100000 ? 'red' : ''"
          class="priceBanner"
        >
          ${{ val.price }}
        </div>
      </div>
    </div>

    }
  </div>
</div>
