@if (car) {

<div>
  <div id="details">
    <h2 class="title">
      <strong>{{ car.brand }}</strong> - {{ car.model }}
    </h2>

    <div class="row">
      <div class="imgBox col-md-auto">
        <img
          class="imgCar"
          [src]="car.img"
          alt="{{ car.brand }} {{ car.model }}"
        />
        <div class="priceBanner">${{ car.price }}</div>
      </div>
      <div
        class="col d-flex justify-content-center align-items-center"
        id="desc"
      >
        <p>
          @if (car.desc) {
          {{ car.desc }}
          } @else {this car has <br />
          no description yet}
        </p>
      </div>
      <div class="d-flex justify-content-end">
        <a type="button" class="btn btn-secondary" routerLink="/cart"
          >Add to Cart</a
        >
      </div>
    </div>
  </div>
</div>
}
