#details {
  background-color: var(--rich-black);
  width: 100vw;
  height: 100%;
}
.title {
  padding: 4% 6%;
}
.imgCar {
  max-width: 100%;
  height: auto;
}
.priceBanner {
  position: absolute;
  width: 30%;
  top: 20px;
  right: -20px;
  padding: 0.5rem 4rem;
  opacity: 75%;
  box-shadow: 2px 2px 2px 3px var(--flame);
  color: white;
  border-radius: 5px;
  font-size: calc(0.8em + 1vw);
  text-align: end;
}

.imgBox {
  position: relative;
  width: 45%;
  padding: 0;
}
#desc {
  border: 2px solid var(--rich-black);
  background-color: var(--gray);
  box-shadow: inset 0 0 55px 5px var(--rich-black);
  padding: 0.5rem 1.5rem;

  p {
    font-size: calc(0.7em + 1vw);
    color: var(--gray-darker);
  }
}
.btn {
  background-color: var(--flame);
  margin: 3rem;
}

.btn:hover {
  transform: scale(1.1);
  background-color: var(--red-cmyk);
}
